In [1]:
import re

In [2]:
chat1 = 'codebasics: you ask lot of question ðŸ˜   1235678912, abc@xyz.com, 9998881234'
chat2 = 'codebasics: here it is:  (123)-567-8912, abX54@xyz.com'
chat3 = 'codebasics: yes, phone: 1235678912 email: abKc@xyz.com'

In [3]:
# untuk menampilkan pola nomor telepon
pattern ='\d{10}|\(\d{3}\)-\d{3}-\d{4}'
matches1 = re.findall(pattern, chat1)
matches2 = re.findall(pattern, chat2)
matches3 = re.findall(pattern, chat3)
print(matches1)
print(matches2)
print(matches3)

['1235678912', '9998881234']
['(123)-567-8912']
['1235678912']

In [4]:
# untuk menampilkan pola email
pattern= '[a-zA-Z0-9_]*@[a-zA-Z0-9_]*\.[a-zA-Z]*'
matches = re.findall(pattern, chat3)
email = matches[0]
email

'abKc@xyz.com'

In [5]:
# untuk menampilkan pola email
pattern ='[a-zA-Z0-9_]*@[a-zA-Z0-9_]*\.[a-zA-Z]*'
matches1 = re.findall(pattern, chat1)
matches2 = re.findall(pattern, chat2)
matches3 = re.findall(pattern, chat3)
print(matches1)
print(matches2)
print(matches3)

['abc@xyz.com']
['abX54@xyz.com']
['abKc@xyz.com']

In [6]:
chat4 = 'codebasics: Hello, I am having an issue with my order # 16564646'
chat5 = 'codebasics: I have a problem with my order number 15649584849'
chat6 = 'codebasics: My order 4498494944 is having an issue, I was charged 300$ when online it says 280$'

In [7]:
# untuk menampilkan kode orderan
pattern = 'order[^\d]*(\d*)'# tanda kurung digunakan untuk menampilkan value yang hanya ingin dikeluarkan 
matches = re.findall(pattern, chat6)
matches

['4498494944']

In [8]:
# untuk menampilkan kode orderan
pattern = 'order[^\d]*(\d*)'
matches1 = re.findall(pattern, chat4)
matches2 = re.findall(pattern, chat5)
matches3 = re.findall(pattern, chat6)
print(matches1)
print(matches2)
print(matches3)

['16564646']
['15649584849']
['4498494944']

In [9]:
# untuk menampilkan kode orderan
pattern = 'order[^\d]*\d*' # jika tidak menggunakan tanda kurung maka hasilnya akan full tertampil
matches = re.findall(pattern, chat5)
matches

['order number 15649584849']

In [10]:
# untuk menampilkan kode orderan
pattern = 'order[^\d]*\d*'
matches1 = re.findall(pattern, chat4)
matches2 = re.findall(pattern, chat5)
matches3 = re.findall(pattern, chat6)
print(matches1)
print(matches2)
print(matches3)

['order # 16564646']
['order number 15649584849']
['order 4498494944']

In [11]:
text = '''Musk at the Royal Society admissions day in London, July 2018
Born	Elon Reeve Musk
June 28, 1971 (age 52)
Pretoria, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1989â€“present)
United States (2002â€“present)
Alma mater	
Queen's University
Wharton School of the University of Pennsylvania (BS)
Occupation	
Entrepreneurengineer
Years active	1995â€“present
Net worth	US$ 235.1 billion (January 2021)[1]
Height	188 cm (6 ft 2 in)
Title	
Founder, CEO, Lead Designer of SpaceX
CEO and Product Architect of Tesla, Inc.
CEO of Twitter
Co-founder, CEO of Neuralink
Founder of The Boring Company
Co-founder of Zip2
Founder of X.com (now PayPal)
Co-founder of OpenAI
Chairman of SolarCity
Political party	Independent
Spouse(s)	
Justine Wilson
(m. 2000; div. 2008)
Talulah Riley
(m. 2010; div. 2012)
(m. 2013; div. 2016)
Partner(s)	Grimes (2018â€“2021)
Children	11 (1 deceased)
Parent(s)	
Errol Musk (father)
Maye Musk (mother)
Relatives	
Kimbal Musk (brother)
Tosca Musk (sister)
Lyndon Rive (cousin)
Awards	Fellow of the Royal Society (2018)
Signature
Elon Musk'''

In [12]:
# menampilkan usia
pattern = 'age (\d+)'
matches = re.findall(pattern, text)
matches

['52']

In [13]:
# menampilkan nama 
pattern = 'Born (.*)'
matches = re.findall(pattern, text)
matches

[]

In [14]:
# menampilkan nama 
pattern = 'Born.*\n(.*)\(age'
matches = re.findall(pattern, text)
matches[0].strip()

'June 28, 1971'

In [15]:
# menampilkan tempat lahir
pattern = '\(age.*\n(.*)'
matches = re.findall(pattern, text)
matches[0].strip()

'Pretoria, South Africa'

In [16]:
def get_pettern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [17]:
get_pettern_match('\(age.*\n(.*)', text)

'Pretoria, South Africa'

In [18]:
def get_personal_information(text):
    age = get_pettern_match('age (\d+)', text)
    full_name = get_pettern_match('Born(.*)\n',text)
    birth_date = get_pettern_match('Born.*\n(.*)\(age',text)
    birth_place = get_pettern_match('\(age.*\n(.*)',text)
    
    return{
        'age': int(age),
        'name': full_name.strip(),
        'brith_date': birth_date.strip(),
        'birth_place': birth_place.strip()
        
    }

In [19]:
get_personal_information(text)

{'age': 52,
 'name': 'Elon Reeve Musk',
 'brith_date': 'June 28, 1971',
 'birth_place': 'Pretoria, South Africa'}